* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow: auto;
}

@import "./variables/";

@import "./components/";
@import "./pages/";

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background-color: $primary-color;
  color: white;
}