.games-list-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: $osc-font;
  padding-bottom: 50px;
  margin-top: 15px;
}

.games-list-item {
  position: relative;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  .list-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    z-index: -1;
    div {
      transition: 0.25s ease-out;
    }
    .secondary-color {
      background-color: $primary-tint-color;
      width: 100%;
    }

    .tint-color {
      background-color: $secondary-color;
      width: 0;
    }
  }
  &:hover {
    .secondary-color {
      width: 0;
    }

    .tint-color {
      width: 100%;
    }
  }
  button {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width: $tablet-bp) {
      font-size: 1.4rem;
    }
  }
}

.list-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  div:first-child {
    display: flex;
    gap: 40px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    .list-item-info-name {
      p {
        font-size: 1.5rem;
      }
    }
  }

  .list-item-info-price {
    display: flex;
    align-items: baseline;
    gap: 15px;
    .prev-price {
      font-size: 1.5rem;
      text-decoration: line-through;
    }

    .price {
      font-size: 2rem;
    }
  }

  @media (max-width: $tablet-bp) {
    div:first-child {
      // display: flex;
      gap: 20px;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
      }

      .list-item-info-name {
        p {
          font-size: 1.2rem;
        }
        h2 {
          font-size: 1.3rem;
        }
      }
    }

    .list-item-info-price {
      .prev-price {
        font-size: 1.2rem;
        text-decoration: line-through;
      }

      .price {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: $mobile-bp) {
    div:first-child {
      img {
        width: 40px;
        height: 40px;
      }

      .list-item-info-name {
        p {
          font-size: 1rem;
        }
        h2 {
          font-size: 1.1rem;
        }
      }
    }

    .list-item-info-price {
      .prev-price {
        font-size: 1rem;
        text-decoration: line-through;
      }

      .price {
        font-size: 1.1rem;
      }
    }
  }
}
