.featured-games {
  padding-bottom: 100px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: $osc-font;
  & > h3 {
    font-size: 2.2rem;
    margin-top: 20px;
  }

  @media (max-width: $mobile-bp) {
    margin: 0 auto;
    & > h3 {
      font-size: 1.5rem;
    }
  }
}

.games-carousel {
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  .game-card {
    width: calc(33% - 40px);
    min-width: 300px;
    min-height: 150px;
    height: 18vh;
    .game-info {
      position: static;
      max-width: 100%;
      .game-title {
        text-align: center;
        background-color: $secondary-color;
        width: 100%;
        font-size: 1.2rem;
      }
      .game-desc {
        display: none;
      }
    }

    .game-price {
      bottom: 0;
      right: 0;
    }
  }
}
